p,
pre,
.date {
  max-width: 40rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  overflow: scroll;
}

.date { margin-bottom: 2rem; }

.code {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fafafa;
}

.error {
  color: #d91d1d;
  background-color: #fdf3f6;
}
